* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
.ui.cards > .card > .image {
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;
}
.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
}
.ui.cards > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}
.ui.cards > .card > .content > .description {
  height: 36px;
  margin-bottom: 0px;
  overflow: hidden;
}
.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}
.ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
}
.ui.grid.container {
  margin-top: 45px;
}
.ui.grid > .row {
  background: #fff;
}
.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;
}
.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;
}
.ui.grid > .row > .column > img,
.ui.grid > .row > img {
  height: 100%;
}
.ui.placeholder .header:not(:first-child):before,
.ui.placeholder .image:not(:first-child):before,
.ui.placeholder .paragraph:not(:first-child):before {
  display: none;
}
.ui.label,
.ui.labels .label {
  font-size: 22px;
}
.column.rp h1 {
  color: #333;
}
.column.rp p {
  font-size: 18px;
  color: #777;
}
.ui.placeholder.segment .column .button,
.ui.placeholder.segment .column .field,
.ui.placeholder.segment .column textarea,
.ui.placeholder.segment .column > .ui.input {
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
}

.cart {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.cart-item-details{
  margin: 10px;
  display: flex;
  padding: 14px;
}

.cart-item-info{
  margin-left: 10px;
}

.cart-item-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-item-actions {
  display: flex;
  flex-direction: column;
}

.quantity {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

button {
  cursor: pointer;
  padding: 5px;
  background: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

button:hover {
  background: #2980b9;
}

h2 {
  margin-bottom: 20px;
}

.cart-list {
  display: flex;
  flex-direction: column;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-top: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  padding: 8px;
  text-align: left;
}


.item:hover .dropdown-content {
  display: block;
}

/* Style the dropbtn when hovered */
.item:hover .dropbtn {
  background-color: #f9f9f9;
  color: #333;
}

.item {
  text-decoration: none;
  display: block; 
  padding: 10px; 
  border-radius: 4px; 
  color: #333;
  font-weight: bold;
  text-align: center;
}

.item:hover {
  background-color: #ddd; /* Change background color on hover */
  color: #000; /* Change text color on hover */
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* You can also style the elements inside the flex container as needed */
.flex-container p {
  margin: 0; /* Remove default margin on the paragraph */
}

.flex-container button {
  background-color: #007bff; /* Example button style */
  color: #fff;
  padding: 10px 20px;
  border: none;
}